
body, nav, article, p, h, footer {
    -webkit-font-smoothing: antialiased;
    font: normal 15px Roboto, Helvetica, "Helvetica Neue", Arial, sans-serif;
    padding: 0;
}

.article p {
    font-size: 16px !important;
}

.np {
    padding: 0px;
}

a {
    color: #659d54;
}

.navbar {
    border-width: 1px 0;
    border-radius: 0px;
    background-color: white;
    border-top: 4px solid #72B05F;
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 0px;
}

section#breadcrumb {
    padding: 12px 0 15px 19px;
    border-bottom: 1px solid #DBDBDB;
    background-color: #E7E7E7;
}

.breadcrumb-list li a {
    color: #3c843e;
}

#alaInnerEditable {
    padding-left: 0 !important;
}


article h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: .6em;
}

.partners-list {
    background: #E7E7E7;
}

.menu-bottom {
    margin-top: 10pt;
    padding: 15px;
    background: #E7E7E7;
    border-top: 1px solid #dbdbdb;
}

.partners-list {
    padding: 5px 5px;
    text-align: left;
    border-top: 1px solid #dbdbdb;
}

.menu-bottom .item {
    color: #565656 !important;
}

.menu-bottom .item a {
    color: #575757;
    font-size: 14px;
    text-align: left;
    line-height: 3;
    font-weight: 700;
    font-style: normal;
}

.menu-bottom .subitem a {
    color: #898989;
    font-size: 1.4rem;
    text-align: center;
    line-height: 2;
    font-style: normal;
    font-weight: 400;
}

.menu-bottom .subitem {
    color: #868695;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
    font-weight: 700;
    font-style: normal;
}

.menu-bottom .item, .menu-bottom .item a {
    font-size: 12px;
    text-align: center;
    line-height: 3;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

#main h2 {
    margin-top: 15px;
}

.subject-category-overline {
    border-top: 2px solid #72b05f;
}

.panel {
    border: 0px solid transparent;
    box-shadow: none;
}

footer {
    background-color: #e7e7e7;
}

.wp-caption {
    padding: 10px 5px 10px;
}

img:hover {
    opacity: 0.8;
}

.wp-caption {
    max-width: 100%;
}

.post-container {
    margin: 20px 0;
    overflow: auto;
    font-weight: bold;
    vertical-align: middle;
}

.post-thumb {
    float: left
}

.post-thumb img {
    display: block;
    height: 60px;
}

.post-content {
    margin-left: 210px;
    line-height: 20px;
}

.post-title {
    font-weight: bold;
    font-size: 200%
}

.btn-ala {
    color: #328244 !important;
    border-color: #7db641 !important;
}

.content-container {
    padding: 40px 0 20px;
    text-align: inherit;
}

.breadcrumb-list {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
}

.help-block {
    margin-top: 0px;
}

.box-map {
    background: #31909e61;
    border: solid rgba(36, 105, 115, 0.38);
    border-width: 1px 1px 0 1px;
}

.no-gbif {
    background: #e7e7e7;
    height: 46px;
    font-size: 15px;
    margin-top: 10px;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #c3c3c3;
    border-width: 1px 1px 1px 0;
    text-transform: uppercase;
    margin-left: -12px;
}

.navbar-nav {
    float: right !important;
    margin: 0 12px 0 5px;
}


.pesquisar {
    padding: 10px;
}

.navbar {
    padding-bottom: 10px;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}

.form-control {
    border-radius: 0;
    border: 1px solid #c3c3c3;
}

.logo {
    height: 40px;
}

.logo-gbif {
    margin-top: -5px;
    margin-left: 5px;
}

.promotional {
    margin-left: 10px !important;
}

.title-box-2 h3 {
    font-size: 1.7rem;
    background: #619850;
    padding: 5px;
    color: white !important;
    text-align: center;
    position: relative;
    top: -20px;
    text-transform: uppercase;
    border: 1px solid #548844;
}

.title-box-2 h3 a {
    color: white !important;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
}

.title-box-2 h3 a:hover {
    color: #2f7a3c;
    text-decoration: none;
}

.title-box {
    margin-bottom: 10px;
}

.title-box a:hover {
    color: #2f7a3c;
    text-decoration: none;
}

.jumbotron {
    padding-top: 75px;
    padding-bottom: inherit;
}

.ala-header {
    min-height: 300px;
    margin-bottom: 0px;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 10px;
}

.toc-floating-menu.affix {
    position: relative;
    top: 0px !important;
}

.subject-subtitle, .subject-subtitle p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 20px;
    max-width: 100%;
}


.title-teste {
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid #72b05e;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 15px;
    padding-bottom: 5px;
}

.noticias {
    background: #ececec;
    padding: 10px 20px;
    margin: 0 15px 20px;
    border: 1px solid #d4d4d4;
}

.nbn-atlas {
    background: #bfbfbf;
    padding: 5px 10px;
    border: 1px solid #b7b7b7 !important;
}

/*..... Modulo collectory .....*/
.collectory-content.row {
    margin: 0px;
}

/*..... Direitos Autorais fotos .....*/
.hvrbox,
.hvrbox * {
    box-sizing: border-box;
}

.hvrbox {
    position: relative;
    display: block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.hvrbox img {
    max-width: 100%;
    height: 200px;
}

.hvrbox .hvrbox-layer_bottom {
    display: block;
}

.hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 15%;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    padding: 0px 0px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
    opacity: 1;
}

.hvrbox .hvrbox-text {
    text-align: center;
    font-size: 12px;
    display: block;
    position: absolute;
    font-weight: 700;
    bottom: 15%;
    right: 0;
    background: #00000080;
    padding: 5px 10px;
    width: auto;
    min-width: 100px;
}

.hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}

.hvrbox.active .hvrbox-text_mobile {
    display: block;
}

/*... Circle Foto ...*/
.circle-container {
    position: relative;
    width: 30em;
    height: 30em;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    box-sizing: content-box;
    margin: 5em auto 5em;
    border: 1px dashed #bdbdbd;
}

.circle-container > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8em;
    height: 9em;
    margin: -4em;
}


.circle-container > *:hover {
    height: 9.2em;
}

.circle-container > :nth-of-type(1) {
    transform: rotate(0deg) translate(15em) rotate(0deg);
}

.circle-container > :nth-of-type(2) {
    transform: rotate(50deg) translate(15em) rotate(-50deg);
}

.circle-container > :nth-of-type(3) {
    transform: rotate(102deg) translate(15em) rotate(-102deg);
}

.circle-container > :nth-of-type(4) {
    transform: rotate(154deg) translate(15em) rotate(-154deg);
}

.circle-container > :nth-of-type(5) {
    transform: rotate(202deg) translate(15em) rotate(-202deg);
}

.circle-container > :nth-of-type(6) {
    transform: rotate(256deg) translate(15em) rotate(-256deg);
}

.circle-container > :nth-of-type(7) {
    transform: rotate(305deg) translate(15em) rotate(-305deg);
}


.circle-container img {
    display: block;
    height: 100%;
    border-radius: 0;
}

.circle-container img:hover {
    opacity: 0.9;
}

.main-stats > h4 {
    color: #888888;
    text-align: center;
}

.stat-number {
    text-align: center;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    float: right;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid #d0d0cc;
    border-radius: 0;
}

/* Custumização paginação*/

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #659d54;
    border-color: #659d54;
    cursor: default;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    color: #9c9c9c;
    background-color: #ffffff;
    border: 1px solid #999999;
    margin-left: -1px;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #659d54;
    background-color: #eeeeee;
    border-color: #999999;
}

/* Custom ALA Hub*/
.margin-bottom-half-1 {
    margin-bottom: .5em;
    margin-top: 1rem;
}

/* Custumização head pagina especie bie index */
.header-inner {
    padding-bottom: 15px;
}

/* Custumização paginas internas especies */
.taxon-tabs .tab-content {
    border: 1px solid #999;
    border-top: 0;
    border-bottom: 1px solid #999;
}

.main-content.panel.panel-body {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}

.panel-body {
    border: 0 solid #ececec;
}

/*... Tab Collectory ...*/
.nav-tabs li a {
    background-color: #f5f5f5;
}

.nav-tabs > li > a {
    border: 1px solid #d1d1d1;
}

/*... Pesquisar ALA Bie ...*/
.scientific-name.rank-kingdom .author {
    color: #606060;
}

.summary-actions.list-inline li a {
    color: #8c8c8c;
}

span.commonNameSummary {
    color: #af9423;
}

#leafletMap {
    border: 1px solid #e4e4e4;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #e4e4e4;
    background-image: none;
    line-height: 10px;
}

.panel-default > .panel-heading .painel-title, .panel-heading .panel-title {
    margin-bottom: 0px !important;
}

.well.refine-box {
    border: 1px solid #c2c2c2;
}

.nav-tabs {
    border-bottom: 1px solid #c2c2c2;
}

.taxon-tabs .tab-content {
    border: solid #c2c2c2;
    border-width: 0 1px 1px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: 1px solid #c2c2c2;
    border-bottom-color: transparent;
}

button.btn.btn-sm.btn-default.btn-primary.expand-image-gallery {
    background: #5d893c;
    border: 1px solid #578039;
    text-shadow: 0 1px 0 #fff0;
    color: white;
}

.box-destaque {
    border: 1px solid #ececec;
}

/*... ALA Bie exibição nomes vernaculares */

.accepted-name .scientific-name,
.synonym-name .scientific-name {
    font-size: 0.9em;
}

h5.inline-head.taxon-rank:before {
    content: "Nível: ";
    color: #4e4e4e;
    font-weight: normal;
}

h5.inline-head.taxonomic-status:before {
    content: "Status: ";
    color: #4e4e4e;
    font-weight: normal;
}

h5.inline-head.name-authority strong {
    font-weight: normal;
}

.taxon-row .panel-actions .panel-body {
    padding-bottom: 20px;
    padding-top: 20px;
}

.taxon-row .panel .panel-body {
    border: 1px solid #ececec;
}

.taxon-row .panel .panel-heading + .panel-body {
    border: 1px solid #ececec;
    border-width: 0 1px 1px;
}

.taxon-row .panel .panel-footer {
    border: 1px solid #e4e4e4;
    border-width: 0px 1px 1px;
}

.content > .specieslist-table > thead > tr > th, .content > .specieslist-table > tbody > tr > td {
    border-top: 1px solid #dcdcdc;
}

h1.main.scientificName {
    margin-bottom: 15px !important;
}

h2.commonName {
    font-size: 20px;
    color: #3e3e3e;
    font-weight: normal;
}

/*... Status conservation ...*/

ul.conservationList a {
    color: #5a5a5a;
}

span.iucn {
    height: 40px;
    width: 40px;
    font-size: 12px;
    margin: 0 6px 12px 0;
    display: inline-block;
    font-weight: bold;
    line-height: 40px;
    color: #333a3f;
    text-align: center;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    font-variant: small-caps;
    border: 1px solid #3d464c;
    background-color: #fff;
}

span.iucn.ne {
    background-color: #ffffff;
    border-color: #4e4e4e;
    color: #4e4e4e;
}

span.iucn.dd {
    background-color: #dfdfdf;
    border-color: #dfdfdf;
    color: #4e4e4e;
}

span.iucn.green {
    background-color: #007764;
    border-color: #007764;
    color: #fff;
}

span.iucn.near-threatened {
    background-color: #779641;
    border-color: #779641;
    color: #ffffff;
}

span.iucn.yellow {
    background-color: #febc11;
    border-color: #febc11;
    color: #ffc;
}

span.iucn.orange {
    background-color: #f47920;
    border-color: #f47920;
    color: #fff;
}

span.iucn.red {
    background-color: #d2232a;
    border-color: #d2232a;
    color: #fcc;
}

span.iucn.black {
    background-color: black;
    border-color: black;
    color: white;
}

span.iucn.extinct {
    background-color: black;
    border-color: black;
    color: #d22121;
}

div#descriptiveContent {
    display: none;
}

/* Stick info versão beta*/
.beta {
    position: fixed;
    top: 280px;
    right: 0;
    width: 35px;
    height: 120px;
    z-index: 999999;
    background: #f99e16;
    text-align: center;
    line-height: 35px;
    color: white;
    font-weight: 500;
    border: 1px solid #da890f;
    border-width: 1px 0 1px 1px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

/*...  Destaque cores texto filtro sinonimos ...*/
.synonym-name .accepted-name {
    color: #f78d18cc;
    padding-left: 5px;
}

.search-results-list li:not(.search-result) a {
    color: #8c8c8c;
}

.search-result {
    margin-top: 10px;
    padding-bottom: 0px;
}

.search-results-list li:last-child {
    padding-bottom: 10px;
}

/*... Página de noticias ...*/

.panel.panel-default.panel-blog {
    background: #fff;
    border: 1px solid #e7e7e7 !important;
    padding: 15px;
}

.img-noticias {
    height: 250px;
    width: auto;
    float: right;
}

/*... Menu collpase ...*/
.card {
    padding: 0px;
    margin-bottom: 10px;
}

.card-header {
    background: #64943dd4;
    border: 1px solid #64943d;
    line-height: 22px;
    font-weight: 200;
}

.card-header button,
.card-header button:focus,
.card-header button:hover {
    color: #fff;
    font-weight: bold;
}

.card-body {
    padding: 10px;
    line-height: 22px;
    font-weight: 200;
    border: 1px solid #e2e2e2;
    border-width: 0 1px 1px 1px;
}

/* Ajuste link quebra linha */
.recordsLink {
    display: block;
}

/*... Dash board ...*/
.dashboard .panel {
    border: 1px solid #dcdcdc !important;
}

.dashboard .panel-heading {
    border-bottom: 1px solid #dcdcdc !important;
}

/* Separador menus*/

.dropdown-menu hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*... Tabelas da lista de especies exibidas na pagina de especies ...*/
table.table.specieslist-table td:first-child {
    text-transform: capitalize;
}

.panel.panel-default.panel-actions {
    display: none
}

/*... Mensagem error form ...*/
.message-error {
    background: rgba(255, 0, 0, 0.24);
    border: 1px solid #ff000070;
    padding: 10px;
    border-radius: 4px;
    margin: 5px 0 20px;
}

.message-sucesso {
    background: rgba(146, 193, 123, 0.24);
    border: 1px solid rgb(192, 208, 184);
    padding: 10px;
    border-radius: 4px;
    margin: 5px 0 20px;
}

/*... Painel ALA-HUB ...*/
#searchTabs li a[href="#taxaUpload"],
#searchTabs li a[href="#catalogUpload"] {
    display: none;
}


/*... Painel ConservationList ...*/
.conservationList .status[data-status="CR"]:after {
    content: ": Criticamente em Perigo";
    font-weight: 500;
}

.conservationList .status[data-status="CR (PEW)"]:after {
    content: ": Possivelmente Extinta na Natureza";
    font-weight: 500;
}

.conservationList .status[data-status="CR (PEX)"]:after {
    content: ": Possivelmente Extinta";
    font-weight: 500;
}

.conservationList .status[data-status="DD"]:after {
    content: ": Dados Insuficientes";
    font-weight: 500;
}

.conservationList .status[data-status="E"]:after {
    content: ": Em Perigo";
    font-weight: 500;
}
.conservationList .status[data-status="EN"]:after {
    content: ": Em Perigo";
    font-weight: 500;
}
.conservationList .status[data-status="EP"]:after {
    content: ": Em Perigo";
    font-weight: 500;
}

.conservationList .status[data-status="EW"]:after {
    content: ": Extinta na natureza";
    font-weight: 500;
}

.conservationList .status[data-status="EX"]:after {
    content: ": Extinta";
    font-weight: 500;
}

.conservationList .status[data-status="I"]:after {
    content: ": Indeterminado";
    font-weight: 500;
}

.conservationList .status[data-status="K"]:after {
    content: ": Insuficientemente conhecido";
    font-weight: 500;
}

.conservationList .status[data-status="LC"]:after {
    content: ": Pouco Preocupante";
    font-weight: 500;
}

.conservationList .status[data-status="LR/cd"]:after {
    content: ": Dependente de medidas de conservação";
    font-weight: 500;
}

.conservationList .status[data-status="LR/lc"]:after {
    content: ": Segura ou pouco preocupante";
    font-weight: 500;
}
.conservationList .status[data-status="LR/nt"]:after {
    content: ": Quase ameaçada";
    font-weight: 500;
}
.conservationList .status[data-status="NE"]:after {
    content: ": Não Avaliado";
    font-weight: 500;
}
.conservationList .status[data-status="NR"]:after {
    content: ": Não reconhecido";
    font-weight: 500;
}
.conservationList .status[data-status="NT"]:after {
    content: ": Quase Ameaçada";
    font-weight: 500;
}
.conservationList .status[data-status="PE"]:after {
    content: ": Possivelmente extinta";
    font-weight: 500;
}
.conservationList .status[data-status="R"]:after {
    content: ": Rara";
    font-weight: 500;
}
.conservationList .status[data-status="RE"]:after {
    content: ": Regionalmente Extinto";
    font-weight: 500;
}
.conservationList .status[data-status="T"]:after {
    content: ": Ameaçada";
    font-weight: 500;
}
.conservationList .status[data-status="V"]:after {
    content: ": Vulnerável";
    font-weight: 500;
}
.conservationList .status[data-status="VU"]:after {
    content: ": Vulnerável";
    font-weight: 500;
}