.code {
    font-family: "Courier New";
}

* {
    font-size: 100%;
    box-sizing: border-box;
}

a:hover {
    color: #2d6d34;
}

.page-header .card {
    background: #CCCCCC;
}

.headers .img-thumbnail {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin-bottom: 0px;
    border-radius: 0;
}

.headers .caption {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 2%;
    text-align: center;
    color: #fff !important;
    z-index: 2;
}

.headers .caption p {
    margin-bottom: 0px;
}

.statistics {
    margin: 30pt 0px;
}

.statistics .title {
    color: #BBBBBB;
    font-size: 24px;
    text-align: center;
    line-height: 1.2;
    font-style: italic;
}

.statistics .value {
    color: #1B3702;
    font-size: 40px;
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
    font-style: italic;
}

.featured .img-thumbnail {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    border: solid 6px #fff;
    margin-bottom: 0px;
    min-height: 150px;
}

.featured .caption {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 109, 27, 0.75);
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    color: #fff !important;
    z-index: 2;
}

.featured .caption p {
    margin-bottom: 0px;
}

.featured .caption h4 {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 2%;
    text-align: center;
    color: #fff !important;
    z-index: 3;
    margin-bottom: 0px;
}

.featured .caption h4 i {
    margin-right: 20px;
}

.menu-bottom {
    margin-top: 10pt;
    padding: 10px;
    background: #DDDDDD;
}

.menu-bottom a {
    text-decoration: none;
}

.menu-bottom a:hover {
    text-decoration: underline;
}

.menu-bottom .item, .menu-bottom .item a {
    color: #FFF;
    font-size: 14px;
    text-align: center;
    line-height: 3;
    font-weight: 700;
    font-style: italic;
}

.menu-bottom .subitem, .menu-bottom .subitem a {
    color: #868695;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
    font-weight: 700;
    font-style: italic;
}

.partners-list {
    padding: 5px 5px;
    background: #E7E7E7;
    border-top: solid 1px #AAAAAA;
    text-align: center;
}

.partners-list img {
    margin: 0 auto;
}

.partner {
    text-align: center;
}

/*NOVO HEADER USING FLEX*/
.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    padding: 0px;
    flex: 1 100%;
}

.right-top {
    background: tomato;
}

.right-bottom {
    background: lightgreen;
}

.left {
    text-align: left;
    background: deepskyblue;
}

.right {
    background: gold;
}

.left .img-thumbnail {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin-bottom: 0px;
    border-radius: 0;
}

.left .caption {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 2%;
    text-align: center;
    color: #fff !important;
    z-index: 2;
}

.left .caption p {
    margin-bottom: 0px;
}

@media all and (min-width: 600px) {
    .right {
        flex: 1 auto;
    }

    .right-top {
        flex: 1 auto;
        height: calc(100% / 2);
    }

    .right-bottom {
        flex: 1 auto;
        height: calc(100% / 2);
    }
}

@media all and (min-width: 800px) {
    .left {
        flex: 2 0px;
    }

    .left {
        order: 1;
    }

    .right {
        order: 2;
    }

    .right-top {
        order: 3;
    }

    .right-bottom {
        order: 4;
    }
}

footer {
    background-color: #BBB;
}

.footer-nav h5 {
    color: #FFF;
}

.footer-nav ul.link-list a {
    color: #666;
}

/*.... Custom buttons .....*/
input#locationSearch {
    background: #689a3f;
    border: 1px solid #507532;
    color: white;
    text-shadow: 0 0px 0 #fff0;
}

/*.... Quem Somos .....*/

.text-bold-green {
    color: #72b05e;
    font-size: 1.6rem;
    font-weight: 400;
}

/*.... specie profile .....*/

.pull-right.json a {
    background: #dbdbdb;
    border: 1px solid #d1d1d1;
    color: #626262;
    font-weight: 500;
    text-shadow: 0 1px 0 #fff;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
}

/*.... Pagina principal .....*/
.panel {
    border: 0px solid #ffffff !important;
    box-shadow: none;
}

.panel-body {
    border: 0px solid #ececec;
    padding: 10px;
}

.panel-body h3 {
    font-size: 1.8rem;
}

.img-full {
    width: 100%;
}

.img-saturate {
    filter: saturate(150%);
}

.statistics .title {
    color: #BBBBBB;
    font-size: 22px;
    text-align: center;
    line-height: 1.2;
    font-style: normal;
}

.statistics .value {
    color: #383838;
    font-size: 40px;
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
    font-style: normal;
}

.parceiros {
    padding: 20px 5px !important
}

.contato {
    padding: 10px 0;
}

.contato p {
    margin-bottom: 0;
}

.container.container-navbar {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

#barra-brasil a {
    font-size: .9em !important;
}
